html,
body {
  font-family: Arial, sans-serif;
  /* text-align: center; */
  /* text-decoration: none; */
  background-color:rgba(154, 190, 231, 0.13);
}

.header {
  background-color: rgba(79, 129, 22, 0.842);
  padding: 15px;
  margin-bottom: 20px;
}

#modal-container{
  position: fixed;
  padding: 20px;

  box-sizing: border-box;
  
  z-index: 999;

  overflow: auto;

  display: grid;
  text-align: center;
}

#modal-container.is-visible {
  /* CSS for modal container - add your own desired CSS styles here  */
  display: block;
  text-align: center;
} 

.pokemon-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}  */

/* .selector-for-some-widget {
  box-sizing: content-box;
} */

.input-group {
  border-radius: 0;
  text-align: center;
}